

<div class="cell">
	<% cell_value = cell_value(@current_solution[cell_index]) %>	
	<% colour_class = colour_class(@check_solution,@puzzle[cell_index],@current_solution[cell_index],@solution[cell_index])  %>
 +  <% read_only = read_only(@puzzle[cell_index]) %>
 +  <input class="<%= colour_class %>" type="text" maxlength="1" autocomplete="off" value="<%= cell_value %>" name="cell[]" <%=read_only%> >
</div>



