div.box, div.cell{
	display: inline-block;
}

.box{
  border: 2px solid black;
}

.cell input{
	width: 30px;
	height: 30px;
}

#sudoku{
	font-size: 0;
	text-align: center;
}

body{
	text-align: center;
	font-family: Arial;
}

.incorrect {
	background-color: yellow;
}

.value_provided {
	background-color: #DDD;
}

