div.box, div.cell{
	display: inline-block;
}


h1{
	color: #840B1F;
	text-align: right;
	margin-right: 40px;
}
body{
	text-align: center;
	font-family: fantasy;
	font-size: 20px;
	background-image: url(../background.jpg);
	background-size: 100%;
	background-repeat: no-repeat;

}

.box{
	border: 5px solid grey;
	border-radius: 5px;
	border-style: ridge;
}


#flash {
	position: absolute;
	top: 90%;
	right: 1.8%;
	text-align: right;
	margin-right: 80px;
	font-size: 20;
}

.cell input{
	font-family: "Comic Sans MS";
	font-style: bold;
	font-size: 18;
	text-align: center;
	width: 40px;
	height: 40px;
	border-color: #B8B8B8 ;
	border-width: 2px;
	border-radius: 5px;
}

#sudoku{
	font-size: 0;
	text-align: right;
	margin-right: 80px;
}


.incorrect {
	background-color: #840B1F;
	color: white;
}

.value_provided {
	background-color: #D9DABE; ##DDD;
}


.easy {
		position: absolute;
		top: 235px;
		right: 500px;
		width: 100px;
		font-family: fantasy;
		font-style: bold;
		font-size: 18;
		color: #840B1F;	
		border-radius: 5px;
		background-color: #D9DABE;
}

.medium {
		position: absolute;
		top: 275px;
		right: 500px;
		width: 100px;
		font-family: fantasy;
		font-style: bold;
		font-size: 18;
		color: #840B1F;
		border-radius: 5px;
		background-color: #D9DABE;
}

.hard {
		position: absolute;
		top: 315px;
		right: 500px;
		width: 100px;
		font-family: fantasy;
		font-style: bold;
		font-size: 18;
		color: #840B1F;
		border-radius: 5px;
		background-color: #D9DABE;		
}

.show {
		position: absolute;
		top: 500px;
		right: 110px;
		width: 150px;
		font-family: fantasy;
		font-style: bold;
		font-size: 18;
		color: #840B1F;
		border-radius: 5px;
		background-color: #D9DABE;		
}
.load {
		position: absolute;
		top: 550px;
		right: 110px;
		width: 150px;
		font-family: fantasy;
		font-style: bold;
		font-size: 18;
		color: #840B1F;
		border-radius: 5px;
		background-color: #D9DABE;		
}
.check {
		position: absolute;
		top: 500px;
		right: 300px;
		width: 150px;
		font-family: fantasy;
		font-style: bold;
		font-size: 18;
		color: #840B1F;
		border-radius: 5px;
		background-color: #D9DABE;		
}
.save {
		position: absolute;
		top: 550px;
		right: 300px;
		width: 150px;
		font-family: fantasy;
		font-style: bold;
		font-size: 18;
		color: #840B1F;
		border-radius: 5px;
		background-color: #D9DABE;		
}
