div.box, div.cell{
	display: inline-block;
}


body{
	text-align: center;
	font-family: "Comic Sans MS";
	background-image: (background.jpg);
}

.box{
  outline: 2px solid black;
}


#flash {
	margin: 20px;
}

.cell input{
	font-family: "Comic Sans MS";
	font-style: bold;
	font-size: 18;
	text-align: center;
	width: 45px;
	height: 45px;
	border-color: #B8B8B8 ;
	border-width: 1px;
	
	/*outline: black;*/
}

#sudoku{
	font-size: 0;
	text-align: center;
}


.incorrect {
	background-color: #FFCC66;
}

.value_provided {
	background-color: lightgrey; ##DDD;
}

.button {
	font-family: "Comic Sans MS";
	font-style: bold;
	font-size: 18;
	text-align: center;
	margin-top: 30px;
}