div.box, div.cell{
	display: inline-block;
}

.box{
  border: 2px solid black;
}

.cell input{
	font-family: "Comic Sans MS";
	font-style: bold;
	font-size: 18;
	text-align: center;
	width: 45px;
	height: 45px;
}

#sudoku{
	font-size: 0;
	text-align: center;
}

body{
	text-align: center;
	font-family: "Comic Sans MS";
}

.incorrect {
	background-color: yellow;
}

.value_provided {
	background-color: lightgrey; ##DDD;
}

.button {
	font-family: "Comic Sans MS";
	font-style: bold;
	font-size: 18;
	text-align: center;
	margin-top: 30px;
}